.ad-fixed-left,
.ad-fixed-right {
    display: none;
    position: fixed;
    top: 85px;
    width: 160px;
    height: 600px;
    background-color: white;
    z-index: 1000;
}

.ad-fixed-left {
    left: 0;
    margin-left: 10px;
}

.ad-fixed-right {
    right: 0;
    margin-right: 10px;
}

@media screen and (min-width: 1600px) {
    .ad-fixed-left,
    .ad-fixed-right {
        display: block;
    }

    .container {
        margin: 0 180px;
    }
}
